*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui;
  background-color: rgba(246, 245, 246, 1);
  font-family: "DM Sans", sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul,ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.bento {
  width: 100%;
  padding: 32px 16px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
}

.purple-bg {
  background-color: rgba(117, 81, 220, 1);
  padding: 40px 32px;
  border-radius: 10px;
  text-align: center;
}

.purple-bg span {
  color: rgba(255, 204, 106, 1);
}

h2 {
  color: white;
  font-size: 46px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.04em;
  text-align: center;
}

.purple-bg img {
  margin: 24px auto 8px auto;
}

.purple-bg h5 {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.small-bg {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
}

.socialmedia-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-one {
  display: flex;
  margin-block: 32px 28px;
}

.one h6 {
  font-size: 16px;
  color: rgba(18, 18, 18, 1);
  font-weight: 500;
  line-height: 14.4px;
  letter-spacing: -0.06em;
}

.one span {
  color: rgba(158, 158, 158, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.62px;
  letter-spacing: -0.03em;
}

h4 {
  color: rgba(18, 18, 18, 1);
  font-size: 26px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.06em;
  text-align: left;
}

.yellow-bg {
  background-color: rgba(255, 204, 106, 1);
  border-radius: 10px;
  padding: 16px 16px 0 16px;
}

.yellow-bg h4 {
  padding-right: 16px;
}

.lightpurple-bg {
  background-color: rgba(219, 209, 252, 1);
  border-radius: 10px;
  padding: 32px 17.47px;
  text-align: center;
}

.lightpurple-bg img {
  margin-block: 24px;
  border-radius: 10px;
}

.lightpurple-bg h5 {
  color: rgba(18, 18, 18, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.darkpurple-bg {
  background-color: rgba(117, 81, 220, 1);
  padding-block: 24px;
  border-radius: 10px;
}

.darkpurple-bg h3 {
  color: white;
  font-size: 42px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  padding-inline: 24px;
}

.darkpurple-bg img {
  margin-inline: auto;
}

.white-bg {
  background-color: white;
  border-radius: 10px;
  padding: 24px 0 24px 24px;

}

.white-bg h2 {
  color: rgba(18, 18, 18, 1);
  font-size: 46px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.04em;
  margin-bottom: 15px;
  text-align: left;
}

.white-bg span {
  color: rgba(18, 18, 18, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 24px;
}

.gray-bg {
  background-color:rgba(249, 238, 226, 1);
  border-radius: 10px;
  padding: 32px;
}

.gray-bg h3 {
  color: rgba(18, 18, 18, 1);
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.06em;
  margin-bottom: 24px;
  text-align: left;
}

.gray-bg p {
  background-color: rgba(255, 204, 106, 1);
  color: rgba(117, 81, 220, 1);
  width: 190px;
  padding-block: 17px;
  border-radius: 42.95px;
  font-size: 19.33px;
  font-weight: 600;
  line-height: 26.09px;
  text-align: center;
  position: relative;
}

.arrow {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 35%;
}

.bottom-yellow-bg {
  background-color:rgba(255, 204, 106, 1);
  border-radius: 10px;
  padding: 32px;
}

.bottom-yellow-bg h3 {
  color: rgba(18, 18, 18, 1);
  font-size: 32px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.06em;
  text-align: left;
  margin-bottom: 24px;
}


@media (width >= 768px) {
  .bento {
    padding: 52px 40px;
    display: grid;
    grid-template-areas: 
    "bg1 bg1"
    "bg2 bg2"
    "bg4 bg4"
    "bg4 bg4"
    "bg5 bg5"
    "bg6 bg6"
    "bg7 bg7"
    ;
    gap: 32px;
  }

  .purple-bg {
    grid-area: bg1;
    padding: 76px 72px;
  }

  .group1 {
    grid-area: bg2;
    
  }

  .small-bg h4 {
    padding-inline: 24px;
  }

  .lightpurple-bg {
    grid-area: bg4;
    margin-inline: auto;
  }

  
  .lightpurple-bg img {
    margin-inline: auto;
  }

  .lightpurple-bg h4 {
    text-align: center;
  }

  .lightpurple-bg h5 {
   text-align: center;
  }


  .darkpurple-bg  {
    grid-area: bg5;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .darkpurple-bg img {
    margin-left: 80px;
  }

  .darkpurple-bg h3 {
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  padding-right: 80px;
  }

  .white-bg {
    grid-area: bg6;
    display: flex;
    justify-content: space-between;
    padding-inline: 24px;
  }

  .group2 {
    grid-area: bg7;
  }

  .arrow {
   left: 20%;
  }

}


@media (width >= 1440px) {

  .bento {
    display: grid;
    row-gap: 32px;
    padding: 83px 160px 65px 160px;
    grid-template-areas: 
    "bg7 bg1 bg1 bg4"
    "bg7 bg2 bg2 bg4"
    "bg7 bg6 bg5 bg5";
  }

  

  .purple-bg {
    grid-area: bg1;
  }

  .purple-bg h2 {
    color: white;
    font-size: 80px;
    font-weight: 500;
    line-height: 60px;
  }

   .group1 {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .small-bg {
    width: 438px;
    height: 247px;
  }

  .yellow-bg {
    width: 507px;
    height: 247px;
  }


  .lightpurple-bg {
    grid-area: bg4;
  }


  .darkpurple-bg  {
    grid-area: bg5;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .white-bg {
    grid-area: bg6;
    display: flex;
    flex-direction: column;
  }

  .grpup2 {
    grid-area: bg7;
    align-items: center;
  }

  .gray-bg {
    width: 256px;
    height: 524px;
    padding-top: 78px;
  }

  .bottom-yellow-bg {
   width: 256px;
   height: 428px;;
   margin-top: 32px;
  }

  .arrow {
    left: 15%;
  }
  
 .yellow-bg img {
  width: 256px;
  padding-top: 59px;
 }

 .lightpurple-bg h5 {
  color: rgb(90, 83, 83);
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  padding-inline: 24px;
}

.darkpurple-bg h3 {
  margin-block: auto;
  font-size: 48px;
}
}