*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui;
  background-color: rgba(246, 245, 246, 1);
  font-family: "DM Sans", sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul,ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.bento {
  width: 100%;
  padding: 32px 16px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
}

.purple-bg {
  background-color: rgba(117, 81, 220, 1);
  padding: 40px 32px;
  border-radius: 10px;
  text-align: center;
}

.purple-bg span {
  color: rgba(255, 204, 106, 1);
}

h2 {
  color: white;
  font-size: 46px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.04em;
  text-align: center;
}

.purple-bg img {
  margin: 24px auto 8px auto;
}

.purple-bg h5 {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.small-bg {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
}

.socialmedia-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-one {
  display: flex;
  margin-block: 32px 28px;
}

.one h6 {
  font-size: 16px;
  color: rgba(18, 18, 18, 1);
  font-weight: 500;
  line-height: 14.4px;
  letter-spacing: -0.06em;
}

.one span {
  color: rgba(158, 158, 158, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.62px;
  letter-spacing: -0.03em;
}

h4 {
  color: rgba(18, 18, 18, 1);
  font-size: 26px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.06em;
  text-align: left;
}

.yellow-bg {
  background-color: rgba(255, 204, 106, 1);
  border-radius: 10px;
  padding: 16px 16px 0 16px;
}

.yellow-bg h4 {
  padding-right: 16px;
}

.lightpurple-bg {
  background-color: rgba(219, 209, 252, 1);
  border-radius: 10px;
  padding: 32px 17.47px;
  text-align: center;
}

.lightpurple-bg img {
  margin-block: 24px;
}

.lightpurple-bg h5 {
  color: rgba(18, 18, 18, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.purple-bg {
  background-color: rgba(117, 81, 220, 1);
  margin-block: 24px;
  padding-inline: auto;
  border-radius: 10px;
}

h3 {
  color: white;
  font-size: 42px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.06em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.white-bg {
  background-color: white;
  border-radius: 10px;
  padding: 24px 0 24px 24px;
}

.white-bg h2 {
  color: rgba(18, 18, 18, 1);
  font-size: 46px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.04em;
  margin-bottom: 15px;
  text-align: left;
}

.white-bg span {
  color: rgba(18, 18, 18, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 24px;
}

.gray-bg {
  background-color:rgba(249, 238, 226, 1);
  border-radius: 10px;
  padding: 32px;
}

.gray-bg h3 {
  color: rgba(18, 18, 18, 1);
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.06em;
  margin-bottom: 24px;
  text-align: left;
}

.gray-bg p {
  background-color: rgba(255, 204, 106, 1);
  color: rgba(117, 81, 220, 1);
  width: 190px;
  padding-block: 17px;
  border-radius: 42.95px;
  font-size: 19.33px;
  font-weight: 600;
  line-height: 26.09px;
  text-align: center;
  position: relative;
}

.arrow {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 35%;
}

.bottom-yellow-bg {
  background-color:rgba(255, 204, 106, 1);
  border-radius: 10px;
  padding: 32px;
}

.bottom-yellow-bg h3 {
  color: rgba(18, 18, 18, 1);
  font-size: 32px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.06em;
  text-align: left;
  margin-bottom: 24px;
}


